@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Roboto:400,700,900|Courier+Prime:400,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: transparent;
    color: #303336;
    font-size: 12.6pt;
    font-family: 'Open Sans', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    text-align: left;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

a, a:hover {
    color: #b00;
    text-decoration: none;
    word-break: break-all;
}

html,button,input,select,textarea {
    color: #333;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
    
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border:none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    font-size: 1.1rem;
    font-style: unset;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: rgba(0, 0, 0, 0.0);
    border-width: 0.1rem;
    border-color: rgba(128, 128, 128, 0.5);
}

blockquote p:before {
    content: '\e244';
    font-family: 'Material Icons';
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    font-size: 1.2rem;
    color: rgba(128, 128, 128, 0.5)
}

blockquote p:after {
    content: '\e244';
    font-family: 'Material Icons';
    display: inline-block;
    font-size: 1.2rem;
    color: rgba(128, 128, 128, 0.5)
}


blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

a {
    outline: 0; 
    color: #b00; 
    text-decoration: none;
}
a img {
    border: 0px; text-decoration: none;
}
a:hover {
    text-decoration: underline
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
    font-weight: 900;
    line-height: 1.25;
    margin-top: 7%;
    margin-bottom: 2%;
    word-break: keep-all;
}

h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 2.1em;
}
h3 {
    font-size: 1.8em
}
h4 {
    font-size: 1.6em
}
h5 {
    font-size: 1.4em
}
h6 {
    font-size: 1.25em
}

.site-description > h2 {
    font-size: 1.125rem;
    font-weight: 400;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 1000px;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.page-title {
    margin: 0;
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: disc inside;
    padding: 0.25em 1em 0.5em 1.5em;
    margin: 0 0 0.25em;
}

.site-title a {
	color: #333;
	text-decoration: none !important;
    font-family: 'Raleway', sans-serif !important;
    line-height: 1.2;
    color: #333;
    font-weight: 150;
    font-style: italic;
}

strong, b {
    font-weight: 700;
}
em, i {
    font-style: italic;
}

.post ul li {
    margin-bottom: 0px;
}

.post ul li p {
    display: inline;
}

mjx-container {
    padding-left: 2px !important;
    padding-right: 2px !important;
} 
mjx-math {
    font-size: 1.1rem !important;
}

p {
    line-height:1.825; 
    word-break: break-all;
    word-wrap: none;
}

p code {
    font-family: monospace;
    border-radius: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #000;
    line-height: 22px;
    
    text-decoration: underline;
    text-decoration-color: #F00;
    text-underline-offset: 5px;
    text-decoration-style: dashed;
}

.highlight {
    border-radius: 0.2rem;
    font-family: monospace;
    background: #272822;
    color: #f8f8f2;
    box-shadow: 0px 2px 2px #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.container {
    margin-top: 50px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header h1,
.header h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1.3em;
}

.header h2 {
    font-size: 1.125rem;
}

.header nav {
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
}

.header nav ul,
.header nav li {
    margin: 0;
}

.header nav ul.flat {
    padding: 0;
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

.header .site-description {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif !important;
    line-height: 1.2;
    color: #333;
    font-style: italic;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 0.725rem;
    color: #999;
    margin-bottom: 4px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
    font-size: 2.5rem;
}

.main-title {
    font-size: 1.4rem;
    font-weight: 400;
}

.description {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.75)
}

.post-tags a {
	margin-right: 5px;
}

.post .post-header .meta {
    padding-left: 5px;
    margin-top: 10px;
}

.post .draft-label {
    color: #b00;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}

.post-tags .tags a {
    display: inline-block;
    border: 1px solid #b00;
    border-radius: 4px;
    padding: 0px 6px;
    color: #b00;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.footer {
    text-align: right;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    padding: 20px 0;
    margin-top: 40px;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

#TableOfContents > ul {
    font-size: 0.9rem;
    margin-left: 0px;
}

#TableOfContents > ul li {
    list-style: none;
    line-height: 1.4;
}

.toc-heading {
  display: inline-block;
  border: 1px solid #b00;
  border-radius: 4px;
  padding: 0px 6px;
  color: #b00;
  line-height: 20px;
  font-size: 12px;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.utterances {
  max-width: 100%;
}

@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }
}
